@using System.Collections
@model DayMealVM

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">All Meal Logs</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row justify-content-between pb-3">
			<div class="col">
				<a asp-controller="Meal" asp-action="Index" class="btn btn-primary">
					<i class="bi bi-clipboard-data"></i> Back To Nutrition Progress
				</a>
			</div>
		</div>
		<div class="row justify-content-center pb-3">
			<form id="dateform" class="justify-content-center col-6 flex-row">
				<div class="form-group">
					<label asp-for="Date">Select Date</label>
					<input id="dateinput" asp-for="Date" type="date" class="form-control" placeholder="Enter date" />
				</div>
			</form>
		</div>
		
		
		
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		$("#dateinput").on("change", function () {
			$("#dateform").submit();
		})
	</script>
	@{
				<partial name="_ValidationScriptsPartial" />
	}
}