@model List<Meal>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Nutrition Progress</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row d-flex justify-content-between pb-3">
			<div class="col">
				<a asp-controller="Meal" asp-action="Search" class="btn btn-primary">
					<i class="bi bi-calendar-plus"></i> Log Food
				</a>
			</div>
			<div class="col text-end">
				<a asp-controller="Meal" asp-action="Details" class="btn btn-primary">
					<i class="bi bi-list-task"></i> See Meals
				</a>
			</div>
		</div>
	</<div>
</div>