@model List<Meal>

<div class="container">
    <div class="row">
        <div class="btn-group col-6" role="group" aria-label="Choose Time For BodyWeight Graph">

            <input type="radio" class="btn-check" name="btnradio" id="Nutrition-Weekly" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="Nutrition-Weekly">Weekly</label>

            <input type="radio" class="btn-check" name="btnradio" id="Nutrition-Monthly" autocomplete="off">
            <label class="btn btn-outline-primary" for="Nutrition-Monthly">Monthly</label>

            <input type="radio" class="btn-check" name="btnradio" id="Nutrition-Annual" autocomplete="off">
            <label class="btn btn-outline-primary" for="Nutrition-Annual">Annual</label>

            <input type="radio" class="btn-check" name="btnradio" id="Nutrition-AllTime" autocomplete="off">
            <label class="btn btn-outline-primary" for="Nutrition-AllTime">All Time</label>
        </div>
        <div class="col-6 text-end">
            <label for="inputDate">Select Date</label>
            <input type="date" id="inputDate" value=@DateTime.Today.ToString("yyyy-MM-dd") />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <canvas id="nutritionChart" class="d-block" alt="Nutrition progress..."></canvas>
        </div>
        <div class="col-4">
            <canvas id="dailyNutritionChart" class="d-block" alt="Daily Nutrition Progress..."></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/nutritionchart.js" asp-append-version="true"></script>
    <script src="~/js/dailynutritionchart.js" asp-append-version="true"></script>
}