@model MealsVM

<form id="searchForm">
    <div class="input-group">
        <input id="foodSearch" asp-for="SearchString" type="text" class="form-control" placeholder="Search food" aria-label="Search Food">
        <button class="input-group-text btn btn-primary" id="foodSearch"><i class="bi bi-search"></i></button>
    </div>
</form>

<form>
    <div id="searchResults" class="mt-4">
        @if (Model != null && Model.Meals != null && Model.Meals.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Food Name</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.Meals)
                    {
                        <tr>
                            <td class="text-center">@item.FoodName</td>
                            @if (!string.IsNullOrEmpty(item.BrandName))
                            {
                                <td class="text-center">@item.BrandName</td>
                            }
                            else
                            {
                                <td class="text-center">-</td>
                            }
                            <td class="text-center">
                                <a asp-controller="Meal" asp-action="Add" asp-route-api_id="@item.Api_Id" class="btn btn-info">View Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (Model != null && Model.Meals != null)
        {
            <p>No results found.</p>
        }
    </div>
</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
