@model List<BodyWeight>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="row">
		<canvas id="bodyWeightChart"></canvas>
	</div>
</div>

@section Scripts{
	<script src="~/js/bodyweightchart.js"></script>
}