@model List<BodyWeight>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="btn-group col-6" role="group" aria-label="Choose Time For BodyWeight Graph">

            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-weekly" autocomplete="off">
            <label class="btn btn-outline-primary" for="bodyweight-weekly">Weekly</label>

            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-monthly" autocomplete="off">
            <label class="btn btn-outline-primary" for="bodyweight-monthly">Monthly</label>

            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-annual" autocomplete="off">
            <label class="btn btn-outline-primary" for="bodyweight-annual">Annual</label>

            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-all" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="bodyweight-all">All Time</label>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create">
                <i class="bi bi-calendar-plus"></i> Log Bodyweight
            </a>
            <a class="btn btn-primary" asp-action="Details">
                <i class="bi bi-list-task"></i> Display/Edit Bodyweight Logs
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <canvas id="bodyWeightChart" class="d-block" alt="Body Weight Progress..."></canvas>
        </div>
    </div>
</div>

@section Scripts{
	<script src="~/js/bodyweightchart.js" asp-append-version="true"></script>
}