@model List<BodyWeight>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row h-300">
        <div class="col-6">
            <div class="btn-group" role="group" aria-label="Choose Time For BodyWeight Graph">
                <button class="btn btn-primary" id="Weekly">Weekly</button>
                <button class="btn btn-primary" id="Monthly">Monthly</button>
                <button class="btn btn-primary" id="Annual">Annual</button>
                <button class="btn btn-primary" id="AllTime">All Time</button>
            </div>
            <canvas id="bodyWeightChart" class="d-block w-100" alt="Body Weight Progress..."></canvas>
        </div>
        <div class="col-6">
            <a class="btn btn-primary" asp-action="Create">
                <i class="bi bi-calendar-plus"></i> Log Bodyweight
            </a>
            <a class="btn btn-primary" asp-action="Details">
                <i class="bi bi-list-task"></i> Display/Edit Bodyweight Logs
            </a>
        </div>
    </div>
</div>

@section Scripts{
	<script src="~/js/bodyweightchart.js"></script>
}