@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="new-password" aria-required="true" placeholder="John" />
                <label asp-for="Input.Name">Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Age" class="form-control" autocomplete="new-password" aria-required="true" placeholder="18" />
                <label asp-for="Input.Age">Age</label>
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Height" class="form-control" autocomplete="new-password" aria-required="true" placeholder="180" />
                <label asp-for="Input.Height">Height</label>
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.ActivityLevel" class="form-select" autocomplete="new-password" aria-required="true" placeholder="male">
                    <option value="Inactive">Inactive</option>
                    <option value="Low Active">Low Active</option>
                    <option value="Active">Active</option>
                    <option value="Very Active">Very Active</option>
                </select>
                <label asp-for="Input.ActivityLevel">Activity Level</label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Gender" class="form-select" autocomplete="new-password" aria-required="true" placeholder="male">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <label asp-for="Input.Gender"></label>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
